.card {
  background: #ffe7e7;
  border: 3px solid #f85a47;
  box-sizing: border-box;
  border-radius: 20px;
  display: flex;
  width: 700px;
  max-height: 201px;
  margin-bottom: 25px;
}

.img {
  border-radius: 20px;
  margin-right: 18px;
  width: 200px;
  height: 200px;
  margin-top: -2px;
  margin-left: -2px;
}

.content {
  padding: 23px 50px 18px 18px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.information {
  display: flex;
}

.name {
  margin-right: 15px;
  font-weight: 700;
  font-size: 32px;
  line-height: 28px;
}

.grade {
  display: flex;
  align-items: center;
}

.place {
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #121212;
}

.button {
  right: 50px;
  bottom: 30px;
  padding: 3px 30px;
  font-weight: 400;
  font-size: 14px;
  line-height: 28px;
}

.reviews {
  color: #121212;
  font-size: 14px;
  position: relative;
  margin-left: 34px;
  margin-right: 150px;
  &::before {
    content: '';
    position: absolute;
    background-image: url('../../com.png');
    width: 32px;
    height: 32px;
    top: -10px;
    left: -32px;
  }
}

.flex {
  display: flex;
  justify-content: space-between;
}
