body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #ffe7e7;
  backdrop-filter: blur(15px);
  font-size: 24px;
  line-height: 28px;
  font-weight: 400;
  color: #000;
}

* {
  font-family: 'Open Sans', sans-serif;
}

.wrapper {
  max-width: 1140px;
  margin: 0 auto;
  padding-top: 30px;
}

.button {
  background-color: #f85a47;
  text-align: center;
  color: #fff;
  border-radius: 20px;
  border: 0px;
  cursor: pointer;
}

.places-content {
  display: flex;
}
