.news {
  margin-bottom: 90px;
  position: relative;
  .subtitle {
    font-weight: 700;
    font-size: 18px;
    line-height: 64px;
    color: #f85a47;
    margin-bottom: 18px;
  }
  .title {
    font-family: 'Playfair Display';
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
    color: #222222;
    margin-bottom: 50px;
  }

  button {
    border: 2px solid #f85a47;
    border-radius: 20px;
    padding: 24px 20px;
    margin-left: 24px;
  }

  .items {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-areas: 'main card1' 'main card2';
    div:first-child {
      grid-area: main;
    }
    div:nth-child(2) {
      grid-area: card1;
    }
    div:nth-child(3) {
      grid-area: card2;
    }
  }

  .btnsSlider {
    right: 0;
    bottom: -60px;
    position: absolute;
  }
}
